body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  /* background: linear-gradient(to right, #333399, #ff00cc);
  background-image: url(./Image/7.jpg);
  background-size: 100% 100%;
  display: flex; */
  justify-content: center;
  align-items: center;
}



header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.head{
min-width: 100vh;
background: linear-gradient(to right, #9452bd, #b35fa2, #bd209d);
} 

.site-logo {
  font-weight: 900;
  font-size: 0.8rem;
  color: var(--text);
  text-decoration: none;
}

.nav-list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.nav-link  {
--spacing: 1em;
text-decoration: none;
color: inherit;
display: inline-block;
padding: calc(var(--spacing) / 2) var(--spacing);
position: relative;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.9rem;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: #d0ec02;
}

.nav-link--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav-link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav-link--btn::after {
  display: none;
}

.nav-link--btn--highlight {
  background: limegreen;
  border-color: limegreen;
  color: #333;
}

.nav-link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

.search-bar-container {
  display: flex;
  align-items: center;  
  background-color: #f0f8ff;
  padding: 5px;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(7, 0, 0, 0.7);
  margin: 10px;
  position: relative;
  transition: width 1.5s;
}

.search {
  width: 30px;
  cursor: pointer;
  position: absolute;
  left: 15px;

}

.mic-icon {
  width: 20px;
  position: absolute;
  right: 20px;
  transition: width 0.3s;
  transition-delay: 0.5s;
}

.input {
  background-color: transparent;
  border: none;
  margin: 10px 50px;
  width: 100%;
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 1s;
  transition-delay: 0.5s;
}

.active.search-bar-container{
  width: 50px;
}

.active .input{
  width: 0;
}

.active .mic-icon{
  width: 0;
}

.nav-list-item ul li>.sub-menu{
  display: block;
  position: absolute;
}
.sub-menu li{
  display: block;
  list-style:none;
  text-align: left;
  background-color:#e12e9c;
}

.sub-menu-two li{
  display: block;
  list-style:none;
  text-align: left;
  background-color:#359de3;
}

.main-nav ul {
  list-style-type: none;
  text-align: left;
}

.main-nav li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.main-nav ul li a {
  text-decoration: none;
  display: block;
}

.main-nav ul li a:hover {
  color: #d0ec02;
  background-color: #bb82df;
  border-radius: 15px 15px 15px 15px;
}

.main-nav ul li > .sub-menu {
  display: none;
  position: absolute;
}

.main-nav li {
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
}

.sub-menu li{
    width: 200px;
}

.main-nav ul li:hover .sub-menu {
  display: block;
} 

.nav-list li:hover .htmlcss-arrow,
.nav-list li:hover .js-arrow{
  transform: rotate(180deg);
}

@media (max-width:800px){
  
  nav .main-nav .nav-list li .arrow
  {
    line-height: 40px;
  }

  .nav-list li:hover .htmlcss-arrow
  {
    transform: rotate(0deg);
  }

  .navbar .nav-nav-list.show1 .nav-list .htmlcss-arrow
  {
    transform: rotate(180deg);
  }

} 

@media(max-width: 992px) {

  /* Header */

  header {
      flex-direction: column;
      height: 150px;
      background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  }

  .head .site-logo a {
      font-size: 25px;
  }

  header nav ul li a {
      font-size: 16px;
      flex-direction: column;
      display: inline-block;
      margin-top: 10px;
  }

  header nav {
      display: flex;
      flex-direction: column;
  }
  .content h2 {
      font-size: 28px;
  }

  .content p {
      font-size: 18px;
  }
}


@media(max-width: 950px) {
  .contact .contact-box {
      flex: 100%;
  }
}

@media(max-width: 800px) {

  .head .main-nav
  {
    margin: 20px;
  }
}


@media(max-width: 500px) {

  /* header */

  header {
      height: 130px;
  }

  header .site-logo a {
      font-size: 23px;
  }

  header nav ul li a {
      font-size: 13px;
      flex-direction: column;
      display: inline-block;
      margin-top: 10px;
  }

  header nav {
      display: flex;
      flex-direction: column;
  }


  /* Content */

  .content h2 {
      font-size: 23px;
  }

  .content p {
      font-size: 16px;
  }

  .footer .footer-box {
    flex-direction: column;
  }

  .footer .footer-box .social-media a {
      color: white;
      background-color: #333333;
      border-radius: 50%;
      font-size: 16px;
      padding: 10px;
      margin-top: 10px;
      display: inline-block;
  }

  .footer .footer-box .copyright {
      color: white;
      font-size: 15px;
      margin-top: 10px;
  }

  .footer .footer-box .brand {
      color: white;
      font-size: 18px;
      margin-top: 10px;
  }
}


@media(max-width: 410px) {

  /* header */

  header {
      height: 120px;
  }

  header .logo a {
      font-size: 20px;
      color: white;
      padding: 15px 30px;
  }

  header nav ul li a {
      font-size: 12px;
      flex-direction: column;
      display: inline-block;
      margin-top: 10px;
      color: white;
      padding: 5px 5px;
  }

  header nav {
      display: flex;
      flex-direction: column;
  }

  /* content */

  .content h2 {
      font-size: 20px;
  }

  .content p {
      font-size: 13px;
  }

}

@media(max-width: 700px) {
  .footer .footer-box .social-media a {
      color: white;
      background-color: #333333;
      border-radius: 50%;
      font-size: 16px;
      padding: 5px;
  }

  .footer .footer-box .copyright {
      color: white;
      font-size: 15px;
  }

  .footer .footer-box .brand {
      color: white;
      font-size: 18px;
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  
}

.main-img .card-image {
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
}

.footer {
  margin-top: -7px;
  display: block;
  background: linear-gradient(to right, #2d9cdc, #d79c62, #3ddb50);
  border-top: 2px solid #333333;
  clear: both; 
}

.footer .footer-box {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-box .social-media a {
  color: white;
  background-color: #d318e4;
  border-radius: 50%;
  font-size: 17px;
  padding: 10px;
  margin: 5px;
}

.footer .footer-box .social-media a:hover {
  opacity: .7;
  transition: .5s all ease-in-out;
}

.footer .footer-box .copyright {
  color: white;
  font-size: 20px;
}

.footer .footer-box .brand {
  color: white;
  font-size: 20px;
}

.footer .footer-box .brand span {
  color: #da4910 ;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
